.navigation .navbarRectangle-8 {
  background-color: #393737;
  height: 30px;
  color: white;
  padding-bottom: 7px;
  padding-top: 7px;
}

.navigation .linkscontainer{
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 20px;
}

.navigation .navbarflex-container{
  flex-direction: column;
  display: flex;
}

.bluecolr{
  color: #4990e2;
}

.navbarnav {
  padding: 0;
  width: 100%;
}

.navigation .navbarRectangle-3 {
  width: 50%;
  height: 35px;
  background-color: #fefefe;
  border: solid 1px #979797;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
}

.navigation .navbarsearch{
  height : 100%;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 20px;
    color: #a7a7a7;
}

.navigation .navbarRectangle-4 {
  min-width: 50px;
  height: 34px;
  border-right: solid 1px #979797;
}

.navigation .navbar-toggler {
  padding: 0;
}

/*#hamburgerbtn{
  width:30px;
  height: 30px;
}
*/
.navigation .searchbox{
  display: flex;
  flex-direction: row;
}

.navigation .navbarRectangle-9-Copy {
  height: 55px;
  /*padding-top: 21px;*/
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  padding-left: 110px;
  flex-direction: row; 
  display : flex;
}

.navigation #navbarhome {
  margin-top: 13px;
  width: 50px;
}

.navigation #navbaraboutus {
  margin-top: 13px;
  margin-left: 5px;
  min-width: 60px;
}

.navigation #navbarpdts {
  margin-right: 20px;
  margin-top: 13px;
  min-width: 75px;
  margin-left: 10px;
}

.navigation .navbarnav-link{
  padding-left: 0px;
  padding-right: 0px;
}

.navigation #navbarlogin {
  margin-top: 13px;
  /*width: 8%;*/
  min-width: 60px;
}

.navigation #navbarsignup{
  margin-top: 13px;
  /*width: 8%;*/
  margin-right: 10px;
}

.navigation .aright{
  flex-direction: row;
  display: flex;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  padding-right: 20px;
}
.navigation .dropdown-menu-right {
right: 0;
left: auto;
}

.navigation .navbarul{
  width: 100%;
  height: 100%;
}

.navigation #navbarindia {
  margin-left: 80px;
  margin-bottom: 20px;
}

.navigation #navbarlogo {
  position: absolute;
  left: 10px;
  top: 10px;
  width : 88px;
}

.navigation .navbarHome {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #444141;
}

.navigation .navbarAbout-us {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #444141;
}

.navigation .navbarProducts {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #444141;
}

.navigation .navbarLogin {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5b5b5b;
  padding-right: 15px;
  margin-left: 5px;
}

/*.Signup{
  padding: 2px;
}*/

.navigation .form-control{
  width: 200px;
}

.navigation .ntreg{
    font-size:12px;
    float: left;
    padding-left: 10px;
}

.navigation .searchbtn{
  border: none;
  background-color: white;
}

.navigation .createacc{
  font-size: 12px;
  float : right;
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

.navigation .rememberlabel{
    font-family: Helvetica;
    font-size: 9px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5f5d5d;
    padding: 0;
}

.navigation .frgtpass{
  margin-right: 0;
  margin-left: auto;
  color: #4990e2;
  font-style: helvetica;
  font-size: 9px;
}

.navigation .topheaderlinks{
  font-size: 0.7em; 
  color: white ;
}


.navigation .remember-div{
  display: flex;
  flex-direction: row;
}

.navigation .orpara{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.navigation .loginbtn{
  width:100%;
  margin-top: 30px;
}

.navigation .loginwithgmailbtn{
  width: 100%;
}
.navigation .navbarSignup {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5b5b5b;
  border-left:  solid 1px #444343;
  padding-left: 15px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 6px;

}

 .navigation .navbarAll {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6a6767;
}

.navigation .navbarinline{
  display: inline-block;
}

.navigation #navbartruck{
  margin-top: 22px;
  margin-left: 10px;
}

.navigation .navbarlayer {
  /*width: 22px;
  height: 15.6px;*/
  object-fit: contain;
}

.navigation #navbarprofile {
/*  //margin-left: 5%;
  //width: 5%;*/
  text-align: right;
  padding-left: 10px;
}

.navigation .navbarhap{
  margin-top: 20px;

}

.navigation .navbar-toggler-icon{
  height: 25px;
  width: 25px;
}

.navigation .navbarcounter{
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #E0C14D;
  left : 0%;
  top: 9px;
  padding-top: 0.5px;
}

.navigation .navbarlayer2 {
 /* width: 6px;
  height: 11px;*/
  font-family: Helvetica;
  font-size: 9px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #424242;
}

.navigation .navbarfs{
  font-size: 7px;
}

.navigation .navbarpos{
  position: relative;
  width: 8%;
  margin-right: 2%;
  text-align: left;
}

.navigation .navbarul {
  list-style-type: none;
  padding: 0;
  margin : 0;
}




.navigation .navbarfullwidth{
  width: 100%;
}



.navigation .navbarsearchbar{
  width: 100%;
  border : none;
  /*border-bottom: solid 1px #979797;*/
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #c4c4c7;
}

.navigation .navbarform{
  width : 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: solid 1px #979797;

}

.navigation .navbarimgwidth{
  width: 23px;
  height: 19px;
  margin-bottom: 5px;
  margin-left: 5px;

}

@media screen and (max-width: 1023px)
{ 
    .navbarRectangle-4{
      display: none;
    }
    #navbarindia{
      display: none;
    }
}

@media screen and (min-width: 1024px)
{ 
    #navbarhome{
      margin-right: 10px;
    }

    #navbaraboutus{
      margin-right: 10px;
    }
    .navbarRectangle-3{
      width: 40%;
    }
    .navbarHome{
      font-size: 16px;
    }
    .navbarAbout-us{
      font-size: 16px;
    }
    .navbarProducts{
      font-size: 16px;
    }
    .navbarLogin{
      font-size: 16px;
    }
    .navbarSignup{
      font-size: 16px;
    }
}  